# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# QIIME2 artifacts and visualizations
*.qza
*.qzv

# FASTQ files
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Large output directories
outputs/
raw_fastqs/
classifiers/

# Logs
*.log

# OS/editor files
.DS_Store
.vscode/
.idea/
